workflows/Workflow 1 - Student Registration.json
{
  "name": "Workflow 1 - Student Registration",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b8f6d3d7-246a-4da4-bbb1-d17f550c105b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4",
          "mode": "list",
          "cachedResultName": "CareerPilot-AI Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1520036205,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4/edit#gid=1520036205"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{$json[\"Full Name\"]}}",
            "Email Address ": "={{$json[\"Email Address\"]}}",
            "College Name": "={{$json[\"College Name\"]}}",
            "Degree": "={{$json[\"Degree\"]}}",
            "Current Year": "={{$json[\"Current Year\"]}}",
            "Skills": "={{$json[\"Skills\"]}}",
            "Resume Link (Google Drive)": "={{$json[\"Resume Link\"]}}",
            "Carrer Goal": "={{$json[\"Career Goal\"]}}",
            "Interests": "={{$json[\"Interests\"]}}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address ",
              "displayName": "Email Address ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "College Name",
              "displayName": "College Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Degree",
              "displayName": "Degree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Current Year",
              "displayName": "Current Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interests",
              "displayName": "Interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Carrer Goal",
              "displayName": "Carrer Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Link (Google Drive)",
              "displayName": "Resume Link (Google Drive)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "01513c98-1fd8-445b-af1d-6ce2c386d184",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q7JufTMyYFY08mJA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52c19449-b52e-472b-8bd7-159a85e810ad",
              "name": "StudentID",
              "value": "STU001",
              "type": "string"
            },
            {
              "id": "ff82bade-6a5f-42e2-b7e0-9a7348658141",
              "name": "Full Name",
              "value": "Keerti",
              "type": "string"
            },
            {
              "id": "dd9480af-6833-49ae-8759-18f7b40be301",
              "name": "Email Address",
              "value": "keertibhardwaj2005@gmail.com",
              "type": "string"
            },
            {
              "id": "1d649390-000e-458b-9992-7ffb32a3d529",
              "name": "College Name",
              "value": "BCE Bhagalpur",
              "type": "string"
            },
            {
              "id": "ab2b4257-e793-414a-87aa-50cb07beb638",
              "name": "Degree",
              "value": "B.Tech CSE",
              "type": "string"
            },
            {
              "id": "8864fb9a-6bb7-4c8e-90a7-cd163f5f02d6",
              "name": "Current Year",
              "value": "2",
              "type": "string"
            },
            {
              "id": "e4fb68f8-c45e-4ba8-beab-5db9cb4e40ce",
              "name": "Skills",
              "value": "Python, Java, n8n",
              "type": "string"
            },
            {
              "id": "e6c97028-48b7-4159-9a95-ae0b4d9549f7",
              "name": "Interests",
              "value": "Artificial Intelligence",
              "type": "string"
            },
            {
              "id": "ed92c3db-0271-45a6-9f4d-7ae8f763e1c1",
              "name": "Career Goal",
              "value": "AI Engineer",
              "type": "string"
            },
            {
              "id": "c16af377-dbe6-4f19-b2a6-2b2bc0e74fab",
              "name": "Resume Link",
              "value": "https://drive.google.com/example",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2b3c0530-9ad7-4bd9-8fd1-3be8b43686b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert AI Career Counselor.\n\nAnalyze the following student profile.\n\nName: {{$json[\"Full Name\"]}}\nEmail: {{$json[\"Email Address\"]}}\nCollege: {{$json[\"College Name\"]}}\nDegree: {{$json[\"Degree\"]}}\nCurrent Year: {{$json[\"Current Year\"]}}\nSkills: {{$json[\"Skills\"]}}\nInterests: {{$json[\"Interests\"]}}\nCareer Goal: {{$json[\"Career Goal\"]}}\n\nGenerate the response in JSON only.\n\n{\n  \"career_path\":\"\",\n  \"skill_gap\":[],\n  \"recommended_certifications\":[],\n  \"recommended_projects\":[],\n  \"internships\":[],\n  \"learning_roadmap\":[]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "2a12d8eb-5604-427d-a9b8-315e27f625dd",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BT2j7cOIBrVFYcll",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4",
          "mode": "list",
          "cachedResultName": "CareerPilot-AI Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1362172637,
          "mode": "list",
          "cachedResultName": "LearningRoadmap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qFpSfY3drnjXOD-xI1yHbB82nT9_k7Wj8dZyGeQ4tg4/edit#gid=1362172637"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "StudentID": "={{$node[\"Edit Fields\"].json[\"StudentID\"]}}",
            "CarrerPath": "AI career_path",
            "SkillGap": "AI skill_gap",
            "Certifications ": "AI recommended_certifications",
            "RecommendedProjects": "AI recommended_projects",
            "Internships": "AI internships",
            "LearningRoadmap": "AI learning_roadmap",
            "GeneratedAt": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "StudentID",
              "displayName": "StudentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CarrerPath",
              "displayName": "CarrerPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SkillGap",
              "displayName": "SkillGap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Certifications ",
              "displayName": "Certifications ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RecommendedProjects",
              "displayName": "RecommendedProjects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Internships",
              "displayName": "Internships",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LearningRoadmap",
              "displayName": "LearningRoadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GeneratedAt",
              "displayName": "GeneratedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "93f31afe-cd0b-481b-aecb-b7087a1de2ba",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q7JufTMyYFY08mJA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "df9e534d-7f74-48b1-8278-06b63dd5fa99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83a68018ebabada98cad9f499981fd132b3a8522823b881996c38fcc1dc65ef7"
  },
  "nodeGroups": [],
  "id": "CgnJlTmrtdYFkFcm",
  "tags": []
}